div class="row" style="vertical-align: bottom;"
  div class="col-xs-9"
    h3 All Documents
  div class="col-xs-3"
    button type="button" class="btn btn-success" data-toggle="modal" data-target="#newDocumentModal" + New Document
table class="table"
  thead
    tr
      th Document name
      th Repo URL
  tbody
    - @documents.each do |doc|
      tr
        td 
          a href="/documents/#{doc[:id]}" #{doc[:name]}
          td 
            a href="#{doc[:repo_url]}" #{doc[:repo_url]}

include :document_new_partial
