.force-wrap {
  word-wrap:break-word;
  width:100%;
  display:block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

body{
  background-image: url("intro-bg.jpg");

    /* Full height */
    height: 100%;
    color: white;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

