---
development:
  SESSION_SECRET: <session secret: generate using `rake crypto:session_secret`>
  MSG_KEY: <crypto key for communications: generate using `rake crypto:msg_key`>
  SENDGRID_DOMAIN: <reply domain for emails>
  SENDGRID_USERNAME: <SendGrid username>
  SENDGRID_PASSWORD: <SendGrid password>
  REDIS_URL: <URL of Redis instance: provision redis separately>

test:
  SESSION_SECRET: <session secret; generate using `rake crypto:session_secret`>
  MSG_KEY: <crypto key for communications; generate using `rake crypto:msg_key`>
  SENDGRID_DOMAIN: <reply domain for emails>
  SENDGRID_USERNAME: <SendGrid username>
  SENDGRID_PASSWORD: <SendGrid password>
  REDIS_URL: <URL of Redis instance: provision redis separately>
